@media screen and (max-width: 1000px){
    p {
        font-size: .9rem;
        line-height: 1.8rem;
    }

    .grid-3 {
        gap: 1rem;
    }

    .skills-right ul li {
        font-size: 0.9rem;
    }
}
@media screen and (max-width: 1150px){
    nav li{
        font-size: 0.9rem;
    }
    nav .btn {
        font-size: 0.9rem;
    }
}
@media screen and (max-width: 1038px){
    .hideOnMobile {
        display: none;
        transition: .1s ease-out;
    }

    .menu-button {
        display: block;
        transition: .1s ease-out;
    }
    .contact-left {
        margin-left: 20px;
        margin-right: 20px;
    }
}
@media screen and (max-width: 600px) {
    .hero-right img {
        margin-left: 20%;
        width: 50%;
        border-radius: 20%;
    }
    .hero-name {
        font-size: 2rem;
        font-weight: 600px;
        margin: 1rem 0 1rem;
    }
    .contact-left {
        margin-left: 25px;
        margin-right: 25px;
    }
}
